<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyLyft-Edit Info</title>
    {% load static %}
    <link href="{% static 'users/style.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header header_login">
      <div class="header_title">
        <h1> Engineering Robust Server Software</h1>
        <h2>--Edit Info</h2>
      </div>
    </div>
    <div class="form_style">
      <h1>Info edit</h1>
      <form action="{% url 'users:edit_info' user.id %}" , method="post">
        <!-- csrf(Cross Site Request Forgery) post method must have this -->
        {% csrf_token %}
        <h2> User Information </h2>
        <div class="form_list">
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Username: </span>
              <input type="text" name="username" value="{{ user.username }}" required>
            </div>
          </div>
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Email: </span>
              <input type="email" name="email" value="{{ user.email }}" required>
            </div>
          </div>
          
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Old Password: </span>
              <input type="password" name="password_old" value="">
            </div>
          </div>

          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>New Password: </span>
              <input type="password" name="password_new" value="">
            </div>
          </div>
        </div>
        {% if user.isDriver %}
        <h2> Vehicle Information </h2>
        <div class="form_list">
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Vehicle type: </span>
              <input type="text" name="type" value="{{ vehicle.v_type }}" required>
            </div>
          </div>
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>License Plate Number: </span>
              <input type="text" name="license_number" value="{{ vehicle.license_number }}" required>
            </div>
          </div>
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Maximum passengers: </span>
              <input type="number" name="max_num" min="2" value="{{ vehicle.max_number }}" required>
            </div>
          </div>
          <div class="form_list_info">
            <div class="form_list_info_detail">
              <span>Special Info: </span>
              <input type="text" name="comment" value="{{ vehicle.comment }}">
            </div>
          </div>
        </div>
        {% endif %}
	<div class="form_list_info">
          <div class="form_list_info_detail">
            {{ error_message }}
          </div>
        </div>
        <div class="form_foo">
          <div class="form_foot form_foo_singup">
            <input type="submit" value="Save">
          </div>
        </div>
      </form>
    </div>
    
  </body>
</html>
